* {
    color: #080050;
    font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
}

body {
    width: 80%;
    margin: auto;
    background-color: #0011ff;
}

header {
    border: 5px solid #300383;
    background-color: #0041ce;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

p,
h2 {
    justify-content: space-evenly;
    padding: 5px;
    float:inherit;

}

nav {
    border: 5px solid #1f3e5a;
    background-color: #4693d3;
    margin-bottom: 10px;
    padding: 10px;
}

nav ul {
    display: block;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;

}

nav ul li {
    margin: 20px;
    text-align: center;
}

article {
    border: 5px solid #0014ca;
    background-color: #0077ff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    display: flex;

}

article img {
    max-width: 20%;
    text-wrap: wrap;
}

footer {
    border: 5px solid #4379a5;
    background-color: #2e486b;
    padding: 10px;
    margin: 15px;
    text-align: center;
}

img {
    height: 100%;
    width: auto;
    float:inherit;
}

ul a {
    border: solid 4px rgb(34, 73, 201);
    background-color: #00ffd5;
    border-radius: 40%;
    padding: 5px;
    color: rgb(16, 107, 107);
}

.terrarialeft img,
.terrariaright img {
    border: 7px solid rgb(15, 126, 15);
}

.terrarialeft {
    background-color: rgb(119, 56, 20);
    border: solid 5px rgb(53, 25, 7);
    width: 45%;
    float: left;
    margin-right: 49%;

}

.terrariaright {
    background-color: rgb(119, 56, 20);
    border: solid 5px rgb(53, 25, 7);
    width: 45%;
    float: right;
    margin-left: 49%;

}

.terrariaright p,
.terrariaright h2 {
    color: black;
    padding: 0px 10px;
    justify-items: right;
}

.terrarialeft p,
.terrarialeft h2 {
    color: black;
    padding: 0px 10px;
    justify-items: left;
}

.left {
    width: 45%;
    float: left;
    margin-right: 49%;
}

.right {
    width: 45%;
    float: right;
    margin-left: 49%;
}